<launch>
	<node name="vins_fusion" pkg="vins"  type="vins_node" output="screen" args="$(find vins)../config/M300/realsense_stereo_imu_config.yaml">
	</node >

	<!-- 发布真值 -->
	<include file="$(find vins)../ground_truth_publisher/launch/ground_truth.launch"/>

	<!-- 滤波IMU数据 -->
	<node name="imu_filter" pkg="imu_filter"  type="imu_filter" output="screen">
	</node >

	<!-- 融合GNSS -->
	<node name="global_fusion" pkg="global_fusion"  type="global_fusion_node" output="screen">
	</node >

	<!-- 融合GNSS后的轨迹平滑优化 -->
	<node name="global_smooth_fusion" pkg="global_smooth_fusion"  type="global_smooth_fusion" output="screen">
	</node >

	<!-- 启动可视化 -->
	<include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
			<arg name="port" value="8765"/>
	</include>
	<node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/M300/vins.rviz" />

</launch> 
